<!DOCTYPE html>
<html>
<head>
	<title>Light</title>
	<link rel="icon" type="image/png" href='@routes.Assets.at("img/favicon.png")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style_light.css")'>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-3.2.1.min.js")'></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/light.js")'></script>
</head>
<body>
	<a href="/index" id="home"><img src='@routes.Assets.at("img/flower.png")' width="100" height="100"></a>
	<div class="wrapper">
		<header>
			<div class="top">
				<h1>Disney</h1>
				<h2>a place like paradise to play...</h2>
				<nav>
					<ul>
						<li><a href="#">產品方案</a></li>
						<li><a href="#">服務</a></li>
						<li><a href="#">關於Disney</a></li>
						<li><a href="#">聯絡我們</a></li>
					</ul>
				</nav>
			</div>
			<div class="look"></div>
		</header>
		<main>
			<div class="content attention">
				<div class="left">
					<p class="news">最新消息</p>
					<p class="title">這是標題這是標題這是標題</p>
					<p class="sentence">這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容...</p>
					<button>了解更多</button>
				</div>
				<img src='@routes.Assets.at("img/disney.png")' height="100%">
			</div>
			<div class="content content1">
				<img src='@routes.Assets.at("img/content1.jpg")' width="100%">
				<img src='@routes.Assets.at("img/hot.png")' class="hot">
				<div class="bottom">
					<p>這是標題這是標題這是標題</p>
					<p>這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容...</p>
					<a href="">了解更多>></a>
				</div>
			</div>
			<div class="content content2">
				<img src='@routes.Assets.at("img/content2.jpg")' width="100%">
				<img src='@routes.Assets.at("img/hot.png")' class="hot">
				<div class="bottom">
					<p>這是標題這是標題這是標題</p>
					<p>這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容...</p>
					<a href="">了解更多>></a>
				</div>
			</div>
			<div class="content content3">
				<img src='@routes.Assets.at("img/content3.jpg")' width="100%">
				<div class="bottom">
					<p>這是標題這是標題這是標題</p>
					<p>這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容...</p>
					<a href="">了解更多>></a>
				</div>
			</div>
			<div class="content content4">
			<img src='@routes.Assets.at("img/content4.jpg")' width="100%">
				<div class="bottom">
					<p>這是標題這是標題這是標題</p>
					<p>這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容...</p>
					<a href="">了解更多>></a>
				</div>
			</div>
		</main>
		<footer>
			<div class="nav">
				<ul>
					<ul>
						<li>產品方案</li>
						<li><a href="">產品理念</a></li>
						<li><a href="">App(Mobile/Pad)</a></li>
						<li><a href="">網頁開發設計</a></li>
						<li><a href="">ERP管理系統</a></li>
						<li><a href="">GPS監控平台</a></li>
					</ul>
					<ul>
						<li>我們的服務</li>
						<li><a href="">尋求評估諮詢</a></li>
						<li><a href="">產品導入服務</a></li>
						<li><a href="">系統維護服務</a></li>
						<li><a href="">克制開發服務</a></li>
					</ul>
					<ul>
						<li>關於Disney</li>
						<li><a href="">公司簡介</a></li>
						<li><a href="">公司理念</a></li>
						<li><a href="">技術優勢</a></li>
						<li><a href="">團隊介紹</a></li>
					</ul>
					<ul>
						<li>聯絡我們</li>
						<li><a href="">聯絡我們</a></li>
					</ul>
					<ul>
						<li>追蹤我們的足跡</li>
						<a href="/fblogin"><img src='@routes.Assets.at("img/facebook.png")' width="28" height="28"></a>
						<a href=""><img src='@routes.Assets.at("img/twitter.png")' width="28" height="28"></a>
						<a href=""><img src='@routes.Assets.at("img/wifi.jpg")' width="28" height="28"></a>
						<a href=""><img src='@routes.Assets.at("img/google.png")' width="28" height="28"></a>
					</ul>
				</ul>
			</div>
			<div class="copyright">
				<span>智慧財產權聲明</span>
				<span>隱私權聲明</span>
				<span><strong>©</strong>  Disney Inc.All rights reserved</span>
			</div>
		</footer>
	</div>
</body>
</html>